.Quiz
  display: flex
  flex-direction: column
  align-items: start
  background-color: #fff
  padding: 24px 20px
  border-radius: 24px

.NavButtonsWrapper
  margin-bottom: 20px
  width: 100%
  display: flex
  justify-content: space-between

.ButtonsWrapper
  display: flex
  justify-content: space-between

.QuestionTitle
  margin: 0
  margin-bottom: 16px
  position: relative
  padding-left: 14px
  font-weight: 500
  font-size: 20px

  &::before
    position: absolute
    display: block
    left: 0px
    top: 50%
    transform: translateY(-50%)
    content: ''
    width: 8px
    height: 8px
    border-radius: 50%
    background-color: #6A0BFF

.Answer
  margin-bottom: 16px
.Answer > p
  margin: 0


.AnswerButtonsWrapper
  display: flex
  gap: 8px
  margin-top: 20px
