.SettingContainer
  display: flex
  flex-direction: column
  gap: 20px
  padding: 40px

.FiltersSection
  display: flex
  flex-direction: column
  padding: 24px 20px
  background-color: #fff
  border-radius: 24px

.StartButton
  align-self: flex-end
