.FiltersSection
  padding: 40px 20px
  &Button
    align-self: flex-end

.SettingContainer
  background-color: #fff
  padding: 24px 20px
  border-radius: 24px
  display: flex
  flex-direction: column

