.HeaderConteiner
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center

.MenuWrapper
  display: flex
  gap: 35px

.HeaderLogo
  width: 172px
  height: 52px

.Menu
  padding: 0
  display: flex
  gap: 25px
  list-style: none

.ButtonsWrapper
  display: flex
  gap: 20px

.LoginButton, .SignUpButton
  border-radius: 12px
  padding: 13px
  cursor: pointer
  font-weight: 500
  font-size: 18px
  border: none

.LoginButton
  color: #6A0BFF
  background: #fff

.SignUpButton
  color: #fff
  background: #6A0BFF
