.RezultQuestions
  background-color: #fff
  padding: 24px 20px
  border-radius: 24px

.RezultQuestionsTitle
  margin: 0
  margin-bottom: 24px
  text-align: center

.QuestionsList
  padding: 0
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 16px 20px
  list-style: none
  @media(max-width: 960px)
    grid-template-columns: 1fr
